*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ccc;
}

.container{
  max-width: 900px;
  margin:0 auto;
}

.applybox{
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin:  0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1,1,1,0.6);
  border-radius: 10px;
}


.small{
  font-size: 20px;
}

.form_container{
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px,1fr));
  grid-gap: 20px;
}

.form_control{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

label{
  font-size: 15px;
}

input,select,textarea{
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
}

input:focus{
  outline-color: purple;
}

.btn{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

button{
  background-color: purple;
  color: white;
  border: 2px solid gray;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: .5s ease-in;
}

button:hover{
  background-color: lightcoral;
  border: 2px dotted red;
  color: black;
  transition: .5s  ease-out;
}

.textarea_control{
  display: grid;
  grid-column: 1/span 2;
}

@media (max-width:460px){
  .textarea_control{
    grid-column: 1/span 1;
  }
}